/* Color palette from light to dark
 * #C2E6B7
 * #9AC288
 * #8EB67E
 * #1F3B32
 * #172E27
 * #153925
 *
 * Grayscale colors
 * #3E3E3E
 * #242424
 */

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #153925;
    color: #9AC288;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Odibee Sans', cursive;
    background: linear-gradient(to bottom, #153925 30%, #242424);
}

h1 {
    font-size: 3.5em;
}

p {
    font-size: 2.0em;
}

a {
    font-size: 1.0em;
    color: inherit;
    margin: 0 5% 20px 5%;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}

a:hover {
    background-color: #9AC288;
    color: #153925;
}

h1, p, .main div {
    display: block;
    width: 90%;
    margin: 0 5% 50px 5%;
    align-items: center;
}

iframe {
    max-width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.header {
    height: 20%;
    background-color: #9AC288;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #9AC288, transparent 100%)
}

.header img {
    position: absolute;
}

.fin {
    animation: FinUpDown 23s linear infinite;
    height: 75%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    transform: scaleX(-1);
}

@keyframes FinUpDown {
    0%, 100% { bottom: 10%; }
    50% { bottom: 20%; }
}

.waves1, .waves2, .waves3 {
    width: 120%;
    height: 100%;
}

.waves1 {
    left: 0;
}

.waves2 {
    left: -13%;
    bottom: -15px;
    animation: Waves2UpDown 13s linear infinite;
}

.waves3 {
    left: -7%;
    bottom: -30px;
    animation: Waves3UpDown 19s linear infinite;
}

/*
@keyframes Waves2UpDown {
    0%, 100% { bottom: -15px; }
    50% { bottom: 0px; }
}

@keyframes Waves3UpDown {
    0%, 100% { bottom: -30px; }
    50% { bottom: -15px; }
}
*/

@keyframes Waves2UpDown {
    0%, 100% { transform: translateY(-15px); }
    50% { transform: translateY(0px); }
}

@keyframes Waves3UpDown {
    0%, 100% { transform: translateY(-30px); }
    50% { transform: translateY(-15px); }
}

.main {
    background-color: #242424;
    width: 55%;
    margin: 0 22.5% 10% 22.5%;
    padding-top: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: flex-start;
    align-content: flex-start;
    animation-delay: 1s;
    animation: RiseUp 0.5s ease-out;
}

@keyframes RiseUp {
    /*
    0% { margin-top: 40%;}
    100% { margin-top: 0;}
    */
    0% { transform: translateY(30%); }
    100% { transform: translateY(0); }
}


@media only screen and (max-width: 800px) {
  .main {
    width: 80%;
    margin: 0 10% 10% 10%;
  }
}

@media only screen and (min-width: 1500px) {
  .main {
    width: 40%;
    margin: 0 30% 10% 30%;
  }
}
